Basic Arithmetic

In [1]:
# Addition
2+1

3

In [2]:
# Substraction
2-2

0

In [3]:
# Multiplication
2*7

14

In [5]:
# Division
2/3

0.6666666666666666

In [6]:
# Floor Division
7//4

1

In [7]:
# Modulo => remainder
7%4

3

In [10]:
# Power
4**4

256

In [11]:
# Roots
4**0.5

2.0

Order of Operations

In [13]:
print(2+10*5+4)
print((2+10)*(5+4))

56
108

Variable Assignment

In [18]:
a = 6
a+a
a = 15
a
a=a+a
print(a)

30

Dynamic Typing

In [19]:
cat = 7

In [20]:
cat

7

In [21]:
cat = ['cat1','cat2']

In [22]:
cat

['cat1', 'cat2']

Assigning Variables

In [23]:
a = 6

In [24]:
a

6

In [25]:
a = 99

In [26]:
a = a+19

In [27]:
a

118

In [28]:
a *=2

In [29]:
a

236

In [30]:
a -=2
a +=2

In [31]:
a

236

Determine the variable type

In [34]:
type(a)

int

In [35]:
b = (1,3)
type(b)

tuple

# Strings and Print Formatting

In [36]:
# Single Word
'hi'

'hi'

In [37]:
# Phrase
'This is Khawlah'

'This is Khawlah'

In [38]:
# You can use double qoutes:
"Khawlah"

'Khawlah'

In [39]:
# single and double qoutes:
"hi I'm Khawlah"

"hi I'm Khawlah"

In [40]:
print('hi')

hi

In [43]:
# String's Length
len('hello Khawlah')
len('hi')
len('hi k')

4

In [46]:
s = 'hello khawlah'
s
print(s)

hello khawlah

In [47]:
s[1]

'e'

In [48]:
s[1:]

'ello khawlah'

In [49]:
s[:5]

'hello'

In [50]:
# Everything:
s[:]

'hello khawlah'

In [51]:
# Negatives= loops back around
s[:-1]

'hello khawla'

In [52]:
s[::1]

'hello khawlah'

In [53]:
s[::2]

'hlokalh'

In [54]:
# print string backwords
s[::-1]

'halwahk olleh'

In [57]:
s[0]= 'y'

TypeError: 'str' object does not support item assignment

In [59]:
# Concatenate Strings
s+' hi'

'hello khawlah hi'

In [60]:
word = 'zibra'
word*8

'zibrazibrazibrazibrazibrazibrazibrazibra'

In [61]:
# Upper case
s.upper()

'HELLO KHAWLAH'

In [62]:
# Lower case
s.lower()

'hello khawlah'

In [63]:
# Split a string by blank space (default)
s.split()

['hello', 'khawlah']

In [64]:
# Split by specific element(doesn't include the element that was split on)
s.split('w')

['hello kha', 'lah']

## Print Formatting

In [65]:
'Hey: {}'.format('Khawlah')

'Hey: Khawlah'

In [66]:
# inject string 
# % string form operator
print("I'm injecting %s here" %'anything')

I'm injecting anything here

In [67]:
x, y = 'some','more'
print('I inject %s text here, and %s text here' %(x,y))

I inject some text here, and more text here

In [69]:
print('his name is %s' %'Fred')
print('his name is %r' %'Fred')
print ('I once caught a fish %s' %'this\tbig')
print ('I once caught a fish %r' %'this\tbig')

his name is Fred
his name is 'Fred'
I once caught a fish this	big
I once caught a fish 'this\tbig'

In [70]:
print('I wrote %s programs today' %5.89)
print('I wrote %d programs today' %5.89)
print('I wrote %r programs today' %5.89)

I wrote 5.89 programs today
I wrote 5 programs today
I wrote 5.89 programs today

Padding and Precision of Floating Point Numbers

In [72]:
print('Number: %5.2f'%(24.89898))
print('Number: %1.0f'%(24.89898))
print('Number: %1.5f'%(24.89898))
print('Number: %10.3f'%(24.89898))
print('Number: %25.2f'%(24.89898))

Number: 24.90
Number: 25
Number: 24.89898
Number:     24.899
Number:                     24.90

Multiple Formatting

In [74]:
print('First: %s, Second:5.2f, Third: %r' %('Hi!',2.34345,'bye!'))

TypeError: not all arguments converted during string formatting

In [77]:
print('This string has {}'.format('Capital letters'))
print('The {2} {1} {0}'.format('cat','yellow','quick'))
print('First: {a}, Second: {b}, Third: {c}'.format(a=1,b='two',c=23))

This string has Capital letters
The quick yellow cat
First: 1, Second: two, Third: 23

In [79]:
print('A %s saved is a %s earned' %('penny','penny'))

print('A {p} saved is a {p} earned'.format(p='penny'))

A penny saved is a penny earned
A penny saved is a penny earned

Alignment, padding and precision with .format

In [80]:
print('{0:8}|{1:9}'.format('Fruit','Quantity'))
print('{0:8}|{1:9}'.format('Oranges','70'))
print('{0:8}|{1:9}'.format('Qiwi','50'))

Fruit   |Quantity
Oranges |70
Qiwi    |50

In [81]:
print('{0:<8}|{1:^8}|{2:>8}'.format('left','center','right'))
print('{0:<8}|{1:^8}|{2:>8}'.format('11','33','66'))

left    | center |   right
11      |   33   |      66

In [84]:
print('{0:=<8}|{1:-^8}|{2:.>8}'.format('left','center','right'))
print('{0:=<8}|{1:-^8}|{2:.>8}'.format('11','33','66'))

left====|-center-|...right
11======|---33---|......66

Formatted String Literals  (f-strings)

In [86]:
name = 'Khawlah'
print(f'her name is {name}')
print(f'her name is {name!r}')

her name is Khawlah
her name is 'Khawlah'

In [87]:
num = 44.934
print("this is 10 character, four decimal is : {0:10:4f}".format(num))
print(f"this is 10 character, four decimal number: {num:{10}.{6}}")

ValueError: Invalid format specifier '10:4f' for object of type 'float'

In [88]:
print(f"this is 10 character, four decimal number: {num:10.4f}")

this is 10 character, four decimal number:    44.9340